

	.the-news {
		ul {
			li {
				max-width: 25%;
			}
		}
	}

.the-news {
	.article {
		display: block;
		width: 100%;
		height: 400px;
		background-position: 50%;
		background-size: cover;
	}
	ul {
		li {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 2rem;
			list-style: none;
			flex: 0 1 100%;
			max-width: 100%;
			height: 400px;
			.article { display: block;
			width: 100%;
		}
	}
}
.loading {
	display: none;
	height: 38px;
	margin: 1rem auto;
	width: 38px;
}
.main-article {
	flex: 0 1 50%;
	flex-wrap: wrap;
	justify-content: space-around;
}
.inner {
	text-decoration: none;
}
.story-meta {
	line-height: 22px;
	background: $black_50;
	color: $white;
	font-size: 1rem;
	font-weight: 700;
	padding: 15px;
	text-align: left;
	position: absolute;
	bottom: 0px;
}
.article-item {
	position: relative;
}
.all-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
@media screen and (min-width: 600px) {
	.the-news {
		ul {
			li {
				flex: 0 1 50%;
				max-width: 50%;
			}
		}
	}
	.inside-search {
		text-align: left;
	}
	div.logo {
		margin-top: -1rem;
		margin-right: 2rem;
		transition: all .5s ease-out .5s;
		flex: 0 1 50%;
		align-self: center;
		max-width: 250px;
	}
	body {
		font-size: 9px;
		font-size: 0.9rem;
	}
}
@media screen and (min-width: 1000px) {
	div.logo {
		margin-bottom: -1rem;
		margin-right: 4rem;
		transition: all .5s ease-out .5s;
	}
	body {
		font-size: 10px;
		font-size: 1rem;
	}
	.the-right {
		text-align: left;
		span {
			text-transform: uppercase;
		}
	}
}
