blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	@include default;
}
body {
	@include default;
	line-height: 1;
	background-color: $black;
	color: $white;
	font-family: '$font_1', $font_2;
	font-weight: 700;
	font-size: 8px;
	font-size: .8rem;
}

article {
	display: block;
}
* {
	box-sizing: border-box;
	outline: none;
}
a {
	border: 0;
}
input {
	font-family: '$font_1', $font_2;
	font-weight: 700;
	font-size: 8px;
	font-size: .8rem;
}
div.logo {
	margin-bottom: 1rem;
	transition: all .4s ease-out .5s;
}
.feedback {
	text-align: center;
}
.the-header {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	padding: 2rem;
}
.logo {
	width: 17rem;
	text-align: center;
}
.inside-search {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-bottom: 1rem;
	width: 100%;
	p {
		margin-bottom: 15px;
		font-family: $font_2;
		font-size: 0.9rem;
		font-weight: lighter;
	}
}
.searching {
	width: 17rem;
	text-align: center;
	font-size: 0.8rem;
}
.selector {
	padding-bottom: 10px;
}
