.the-right {
	color: $color_silver_sand_approx;
	font-size: .9rem;
	text-align: center;
	padding: 1rem 3rem;
	font-family: $font_2;
	font-size: 0.9rem;
	font-weight: 100;
}
.the-footer {
  color: $color_silver_sand_approx;
  font-size: .9rem;
  height: 15vh;
  text-align: center;
  padding: 0 2rem;
}
